@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@theme {
  --color-jkuat-green: #94c83d;
  --color-jkuat-red: #ff0000;
  --color-jkuat-white: #ffffff;
}